.favorites-cards {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 7;
  justify-content: center;
  margin-bottom: 20px;
}

.favorites-cards > div p {
  font-family: cursive;
  margin: 0;
  padding: 0;
  align-items: center;
}

.main-container-header > h3 {
  text-align: center;
  margin: 36px 0 36px 0;
  color: white;
  text-shadow: 1px 1px 1px grey, -1px 5px 1px rgb(0, 174, 255, 0.3334),
    -1px -1px 1px grey;
}

.main-container-overlay > div > h3 {
  text-align: center;
  margin: 5px 0 10px 0;
  color: #ffc000;
  text-shadow: 1px 1px 1px grey, -1px 1px 7px rgb(0, 92, 134),
    1px -1px 7px rgb(0, 92, 134);
}
