
.search-card-container{
    display: flex;
    flex-direction: row;
    font-family: cursive;
    justify-content: space-around;
    align-items: center;
    padding: 21px 5px;
    border-radius: 15px;
    margin:20px;
    border: solid rgb(184, 184, 184) 1px;
    box-shadow: 1px 1px 1px 1px rgb(184, 184, 184), -1px -1px 5px 1px rgb(184, 184, 184), 5px 5px 30px rgb(50, 98, 110) inset;
}

.search-card-container p{
    font-family: cursive;
    margin: 0;
    padding:0;
    align-items: center;
}

.temp-div {
    display: flex;
    flex-direction: row;
    width: 86px;
    align-items: center;
}
  
.temp-div >div{
    margin-left: auto;
}

.add-or-remove {
    background-color: transparent;
    border: none;
    padding: 0;
    width: max-content;
    height: max-content;
    color:  rgb(73, 210, 252);
    border: solid rgb(82, 82, 82) 1px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(56, 56, 56);
}

.temperature-icon {
    font-size: 25px;
}


.daily-forecast-btn {
    color: rgb(56, 56, 56);
    border: solid 2px rgb(56, 56, 56);
    font-size: 13px;
    background-color:  rgb(73, 210, 252);
    border-radius: 10%;
    padding: 2px 2px;
    font-weight:bold;
    padding:5px 5px;
}

.temp-c-btn {
    background-color: rgb(73, 210, 252);
    border-radius: 15%;
    padding: 1.5px 7px;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}
  
  .temp-f-btn {
    background-color: rgb(255, 193, 77);
    border-radius: 15%;
    padding: 1.5px 7px;
    font-size: 13px;
    margin-left: 5px;
}

.search-card-container > p:nth-child(2){
    width:75px;
}

.search-card-container > p:nth-child(3){
    width:48px;
}

.search-card-container > p:nth-child(4), .search-card-container > p:nth-child(6){
    width:108px;
}
