.App {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns:repeat(12,1fr);
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Geneva, Verdana, sans-serif;
    color:black;
    overflow:hidden
}

.App > Header{
    grid-row: 1/2;
    grid-column:span 12;
    margin: 0;
    box-sizing: border-box;
}

.App > Main{
    grid-row: 2 / 3;
    grid-column:span 12;
    margin:0;
    padding:0;
}

.App > Footer{
    grid-row: 3 / 4;
    grid-column:span 12;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(0, 98, 143); 
}

.logo{
    width:50px;
    height: 50px;
    align-self: center;
    border-radius: 17%;
    margin-right:10px;
    box-shadow: 1px 5px 10px rgb(167, 167, 167);
}

header{
    display: flex;
    flex-direction: row;
    padding: 0 100px 0 40px;
    justify-content: space-between;
    text-align: center;
    font-size: small;
    font-stretch: extra-condensed;
    color:rgb(0, 98, 143);
    text-shadow: 1px 1px 1px rgb(87, 87, 87), -1px 5px 7px  rgb(167, 167, 167), -1px -1px 1px  rgb(167, 167, 167);
}

.header-div-app{
    display: flex;
    flex-direction: row;
}

.header-div-app > div{
    align-self: center;
}

.header-div-app>h1{
    padding: 0;
    margin:0;
    align-self: center;
    font-size: 25px;
}

.header-div-app>h1>span{
    color:#FFC000;
    font-size: larger;
}

.nav{
    display: flex;
    flex-direction: row;
    width:450px;
    text-align: center;
    align-items: center;
}

.nav > a{
    flex:1;
    border-left: solid 2px rgb(0, 98, 143); 
    justify-content: center;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-weight:bold;
}

footer{
    color:white;
    text-align: center;
    background-color: rgb(0, 98, 143);
}

section{
    position: fixed;
    top:70px;
    left:33vw;
    width:30vw;
    height: max-content;
    color:rgb(0, 174, 255);
    border: solid rgb(0, 174, 255) 1px;
    font-size: 12px;
    background-color: white;
    border-radius: 7px;
    padding: 2px 2px;
    font-size: 15px;
    text-align: center;
}

.theme-btn{
    margin-left:40px;
    padding: 4px 5px;
    align-self: center;
    font-size: 15px;
    font-family: Geneva, Verdana, sans-serif;  
    font-stretch: extra-condensed;
    border-radius: 12%;

}

.dark-btn{
    background-color: rgb(17, 76, 104);
    color:white;
    border:rgb(209, 209, 209) 3px solid;
    text-shadow: 1px 1px 7px white;
}

.light-btn{
    background-color: white;
    color: rgba(21,96,131,.889);
    border: 3px solid rgba(21,96,131,.589);
    text-shadow: 1px 1px 1px rgb(175, 175, 175);
}

.dark{
    background-color: rgb(43, 43, 43);
    color: white;
}

.dark> header{
    color:rgb(123, 194, 226) !important;
    text-shadow: 1px 1px 1px rgb(87, 87, 87), -1px 5px 7px  rgb(167, 167, 167), -1px -1px 1px  rgb(167, 167, 167) !important;
}

.dark> footer{
    background-color:rgba(21,96,131,.589)  !important;
}

.dark> section{
    color:white !important;
    border: solid white 1px !important;
    background-color: transparent !important;
}